<!DOCTYPE html>
<html>
  <head>
    <title>HAM.io</title>
    <link rel="stylesheet" href="/skeleton/normalize.css" />
    <link rel="stylesheet" href="/skeleton/skeleton.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>HAM.io</h1>
      </header>
      <div class="row">
        <section class="one-half column">
          <h3>Device</h3>
          <h5>Name: {{ name }}</h5>
          <h5>Rssi: {{ rssi }}</h5>
          <div class="device-information">
            <h3>Device Information</h3>
            <h6>Battery: {{ level }}</h6>
            <h6>Manufacturer: {{ manufacturerName }}</h6>
            <h6>Manufecturer ID: {{ manufacturerID }}</h6>
            <h6>Model Number: {{ modelNum }}</h6>
            <h6>Serial Number: {{ serialNum }}</h6>
          </div>
        </section>
        <section class="one-half column">
          <h3>Measurements:</h3>
          <ul>
            <li v-for="measurement in measurements">
              {{ measurement }}
            </li>
          </ul>
        </section>
      </div>
    </div>
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.js"></script>
  </body>
</html>
